<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢迎页面</title>
    <style type="text/css">
        .align-center {
            /*
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -200px;
             */
            padding: 0 0;
            width: 100%;
            height: 100%;
            border: 0px solid #008800;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="align-center">
    <h1>~欢 迎 使 用~</h1>
    <h1>请 选 择 左 侧 菜 单 进 行 操 作</h1>
</div>
</body>
</html>
